.row
 .col-md-8.col-md-offset-1
  .jumbotron
   %h1= "Hello, #{current_user.first_name}!"
   %p ...
   %p
    = link_to new_vote_path, class: "btn btn-primary btn-lg", title: "New Order Slip" do
     %span.glyphicon.glyphicon-list-alt
     START VOTING!

