.row
  .col-md-12
    %h1
      Editing user
      = link_to @user, class: "btn btn-warning btn-xs", "data-toggle" => "tooltip", "data-placement" => "top", title: "Discard changes" do
        %span.glyphicon.glyphicon-refresh
.row
  .col-md-12
    = render 'form'
