/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans'; }

.content:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    background-image: url('http://www.clipartbest.com/cliparts/4T9/ezL/4T9ezLaTE.png');
    background-size: 800px 800px;
    background-repeat: no-repeat;
    background-position: center;    
    
    width: 1200px;
    height: auto;
    min-width: 800px;
    min-height: 800px;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
}

.bg-solid { background-color: #c1c1c1; }
.bg-transparent {  background-color: rgba(235, 235, 235, 0.75); }

.padding { 
    padding: 15px; 
    border: 1px solid #bbb;
}