/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import url(http://fonts.googleapis.com/css?family=Comfortaa);
@import url(http://fonts.googleapis.com/css?family=Istok+Web:400,700);

body { font-family: 'Open Sans'; }
h1, h2, h3, h4, h5, h6 { font-family: 'Comfortaa'; }

.bg-img {
    content: "";
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: -1;

    background-image: url('http://www.clipartbest.com/cliparts/4T9/ezL/4T9ezLaTE.png');
    background-size: 575px 575px;
    background-repeat: no-repeat;
    background-position: center center;   
    border: 1px solid orange;
    
    width: 1200px;
    height: auto;
    min-width: 700px;
    min-height: 700px;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.content {
    position: absolute;    
    left:50%;
    transform: translate(-50%);
    z-index: 0;
    min-width: 700px;
    min-height: 700px;
    width: 850px;
    height: auto;
    margin-top: 75px;
    border: 1px solid red;
}

#logo {
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 225%;
    text-align: center;
}
    
.centered {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border: 1px solid blue;
}

.inputfield, .panel-body { margin: 0px; }
.inputfield { width: 300px; }

#user_email.inputfield { 
    border-bottom-left-radius: 0px; 
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}
#user_password.inputfield { 
    border-top-left-radius: 0px; 
    border-top-right-radius: 0px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
}
.actions { padding: 15px; }
.panel { background-color: rgba(255, 255, 255, 0); }

.bg-solid { background-color: #c1c1c1; }
.bg-transparent {  background-color: rgba(235, 235, 235, 0.75); }

.panel-heading, .panel-body, .padding { 
    padding: 15px; 
    border: 1px solid #bbb;
}

.panel-heading { 
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
    border-bottom: none; }
.panel-body {
    background-color: #d4d4d4;
    border-bottom-left-radius: 15px; 
    border-bottom-right-radius: 15px; }

.media-top img {
    width: 150px;
}
