-# navigation styled for Bootstrap 3.0
-if user_signed_in?
  %nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to 'Home', root_path, class: 'navbar-brand'
      .collapse.navbar-collapse
        = render 'layouts/navigation_links'
        = render 'layouts/navigation_right'
